{{ define "main" }}
<div class="post animated fadeInDown">
    <div class="post-content">

        <div class="post-title">
            <h1>{{ .Title }}
            </h1>
            <div class="info">
                <i class="fa fa-sun-o"></i>
                <span class="date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
                &nbsp;<i class="fa fa-pencil"></i>
                <span class="reading-time">{{ .Lastmod.Format "Mon, Jan 2, 2006" }}</span>

            </div>
        </div>
        <div class="info">
            <div class="tag section_tag">
                {{ with .Section }}<a href={{ . | absURL }}>{{ . }}</a>{{ end }}
            </div>
            {{ with .Page.Params.Tags }}{{ partial "taxonomy/tags.html" . }}{{ end }}
            <aside>
                {{ .TableOfContents }}
            </aside>
        </div>
        {{ .Content }}
    </div>
    <div class="post-footer">
        <div class="info">
            <div class="tag section_tag">
                {{ with .Section }}<a href={{ . | absURL }}>{{ . }}</a>{{ end }}
            </div>

            {{ with .Page.Params.Tags }}{{ partial "taxonomy/tags.html" . }}{{ end }}
        </div>
    </div>

    {{ if .Site.DisqusShortname -}}
    <div id="fb_comments_container">
        <h2>{{ i18n "comments" }}</h2>
        <div id="disqus"></div>
        <script>
         disqusLoader('#disqus', {
             scriptUrl: '//rocktakey.disqus.com/embed.js',
             disqusConfig: function() {
                 this.page.title = {{ .Title }};
                 this.page.url = {{ .Permalink }};
                 this.page.identifier = {{ .Site.DisqusShortname }};
             }
         });
        </script>

    </div>
    {{- end }}
</div>

{{ end }}
