html[data-theme='dark']{
  --bg-color: #272727;
  --secondary-bg-color: #000000;
  --heading-color:#aaaaff;
  --body-color: #faf5d0;
  --post-color: rgba(0, 0, 0, 0.44);
  --border-color: #353535;
  --pre-bg-color: rgb(33, 33, 45);
  --nav-text-color: #97defa;
  --tag-color: #ef6fff;
  --section-tag-color: #55ff99;
  --sponsor-color: #ef6fff;
  --link-color: #00ffff;
  --link-hover-color: #556b2f;
  --section-color: #fdca66;
}

html[data-theme='light']{
    --link-color: #3a5fcd;
    --link-hover-color: #c1ffc1;
    --sponsor-color: #ef6fff;
    --section-color: #a0522d;
}

.sidebar .social-links a {
    color: var(--nav-text-color);
}

.sidebar .social-links {
  list-style: none;
  padding: 0;
  font-size: 14px;
  text-align: center;
}

.sidebar .social-links .sponsor i {
  margin-right: 3px;
}

.sidebar .social-links .sponsor li {
  display: inline;
  padding: 0 4px;
  line-height: 0;
}


.sidebar .social-links .sponsor a {
    display: inline;
    color: var(--sponsor-color);
}


/* List of contents */
.list-with-title .h2 {

}

.list-with-title .tag a {
    font-size: 20px
}

.list-with-title .tag a .num {
    color: var(--section-tag-color);
}


.post {
    font-size: 18px
}

p {
    font-size: 18px
}


/* Title of each section */
.post .post-title h1 {
    color: var(--nav-text-color);
    font-size: 50px
}

.post-content .post-title h3 {
    font-size: 50px;
    text-transform: none;
}

.content .post-title h3 {
    text-transform: none;
}

.post-content h2 {
    font-size: 40px;
    color: var(--section-color);
}

.post-content h3 {
    font-size: 30px;
    color: var(--section-color);
}

.post-content h4 {
    font-size: 20px;
    color: var(--section-color);
}

.post-content h5 {
    font-size: 18px;
    color: var(--section-color);
}

.post .post-content .info a {
    text-decoration: none;
    color: var(--tag-color)
}

.post .post-content .info .section_tag a {
    text-decoration: none;
    color: var(--section-tag-color);
}

.post .post-footer .info .section_tag a {
    color: var(--section-tag-color)
}


/* .archive.animated.fadeInDown { */
/*   -webkit-animation-name: false; */
/*   -moz-animation-name: false; */
/*   -o-animation-name: false; */
/*   animation-name: false; */
/* } */

.info {
    font-size: 15px
}

code:not([class]) {
    color: var(--nav-text-color);
}

pre.chroma {
    border: solid;
}

code, kbd {
    font-family: Consolas, SFMono-Regular, Menlo, Monaco,
                 "Liberation Mono", "Courier New", monospace;
    background-color: var(--border-color);
    padding: 0 5px;
    border-radius: 5px;
}

.post .post-content a {
  text-decoration: underline;
  letter-spacing: 1px;
  color: var(--link-color);
}

.post .post-content a:hover {
  text-decoration: none;
  letter-spacing: 1px;
  background-color: var(--link-hover-color);
  color: var(--body-color);
}

.fadeInDown {
  -webkit-animation-name: none;
  -moz-animation-name: none;
  -o-animation-name: none;
  animation-name: none;
}

svg {
    background-color: #ffffff;
    padding: 10px;
}

table {
    text-align: center;
    margin: 0 auto;
    border-collapse: collapse;
}

table th, td{
    padding: 5px 15px;
    border: solid 1px;

}

table th {
    background-color: var(--secondary-bg-color);
}

.table-caption {
    text-align: center;
}
